*.pyc
*~
*#
*settings.py
web/static/**
web/media/**
web/archive/**
**/__pycache__/
downloads/
**/.coverage
**/geckodriver.log
**/htmlcov/
cookiefile*
**/prove/
**/samples/
*sqlite3
*.pem
*.log
.coverage*
var/spool/
