@font-face{
    font-family: CC;
    src: url("../fonts/cc-icons.eot");
    src: url("../fonts/cc-icons.eot?#iefix") format("embedded-opentype"),
         url("../fonts/cc-icons.woff") format("woff"), 
         url("../fonts/cc-icons.woff2") format("woff2"), 
         url("../fonts/cc-icons.ttf") format("truetype"),
         url("../fonts/cc-icons.svg") format("svg"); 
} 

